<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Mybrary</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="[ '/home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/allbooks']">All books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/addbook']">Add book</a>
      </li>
      <li class="nav-item dropdown">
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <a class="btn" ngbDropdownToggle style="color: white">Categories</a>
          <div class="dropdown-menu" ngbDropdownMenu>
            <a ngbDropdownItem>Thriller</a>
            <a ngbDropdownItem>Romantic</a>
            <a ngbDropdownItem>Drama</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
          <i style="color: white;font-size:24px" class="fa"></i>
          <i class="fa fa-shopping-cart" style="font-size:24px"></i>
      </li>
    </ul>
   
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>