<div class="container">
  <h3>Add book:</h3><br>
  <h4 *ngIf="isAdded">The books has been added!</h4>
  <form (ngSubmit)="addBook(addBookForm)" #addBookForm="ngForm">
    <div class="form-group">
      <label for="title">Book title:</label><br>
      <input name="title" ngModel type="text" class="form-control" placeholder="Enter Title" required><br>
      <small id="emailHelp" class="form-text text-muted">Maximum 100 characters allowed</small>
    </div><br>
    <div class="form-group">
      <label for="author">Author Name:</label><br>
      <input name="author" ngModel type="text" class="form-control" placeholder="Enter author" required><br>
    </div><br>
    <div class="form-group">
      <label for="price">Book Price:</label><br>
      <input name="price" ngModel type="text" class="form-control" placeholder="Enter Price" required><br>
    </div><br>
    <div class="form-group">
      <label for="genre">Book Genre:</label><br>
      <input name="genre" ngModel type="text" class="form-control" placeholder="Enter genre" required><br>
    </div><br>
    <div class="form-group">
      <label for="lang">Language:</label><br>
      <input name="lang" ngModel type="text" class="form-control" placeholder="" required><br>
    </div><br>
    <div class="form-group">
      <label for="publisher">Publisher:</label><br>
      <input name="publisher" ngModel type="text" class="form-control" placeholder="" required><br>
    </div><br>
    <div class="dropzone" 
    dropZone 
    (hovered)="toggleHover($event)"
    (dropped)="startUpload($event)"
    [class.hovering]="isHovering">
    <h3>Upload The image of the Book</h3>
    <p>Drag and drop a file here</p>
    <div class="file">
      <label class="file-label">
        <input type="file" (change)="startUpload($event.target.files)">
        <span class="file-cta">
          <span class="file-icon">
            <i class="fa fa-upload">
            </i>
          </span>
        </span>
    </label>
    </div>
    </div>
    <div *ngIf="percentage | async as pct">
      <progress [value]="pct" max="100"></progress>
    </div>
    
    <div *ngIf="(snapshot | async) as snap" >
      {{ snap.bytesTransferred | fileSize }} of {{ snap.totalBytes | fileSize }}
    <button (click)= "task.pause()" [disabled]="!isActive(snap)">Pause</button>
    <button (click)= "task.cancel()" [disabled]="!isActive(snap)">Cancel</button>
    <button (click)= "task.resume()" [disabled]="!(snap?.state === 'paused')" >Resume</button>
    </div>
    <br>
    <button type = "submit" [disabled]="!addBookForm.valid">Submit</button>
  </form>
</div>
