.dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    font-weight: 200;
    border: 2px dashed black;
    border-radius: 5px;
    background: #fff;
    margin: 10px 0;
   
}
progress::-webkit-progress-value{
    transition: width 0.01s ease;
    width: 100%;
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.container{
    width:500px;
    background: rgb(46, 46, 236);
    
  }
.btn{
    align-items: center;
    align-self: center;
    
}

