<div class="container">
  <h3>Add book:</h3><br>
  <h4 *ngIf="isAdded">The books has been added!</h4>
  <form (ngSubmit)="addBook(addBookForm)" #addBookForm="ngForm">
    <div class="form-group">
      <label for="title">Book title:</label><br>
      <input name="title" ngModel type="text" class="form-control" placeholder="Enter Title" required><br>
      <small id="emailHelp" class="form-text text-muted">Maximum 100 characters allowed</small>
    </div><br>
    <div class="form-group">
      <label for="author">Author Name:</label><br>
      <input name="author" ngModel type="text" class="form-control" placeholder="Enter author" required><br>
    </div><br>
    <div class="form-group">
      <label for="price">Book Price:</label><br>
      <input name="price" ngModel type="text" class="form-control" placeholder="Enter Price" required><br>
    </div><br>
    <div class="form-group">
      <label for="price">Enter Book Image:</label><br>
      <input name="image" ngModel type="file" class="form-control" placeholder="Enter Image"
        accept="image/png, image/jpeg" required><br>
      <small id="emailHelp" class="form-text text-muted">Only png or jpeg images allowed</small>
    </div><br>
    <button type = "submit" [disabled]="!addBookForm.valid">Submit</button>
  </form>
</div>
